$color: #c0c0c0;
$background: #f0f0f0;
$gutter: 5px;
$font-size: 8px;

$card-background: #fff;
$card-padding: 4px;
$card-width: 86px;
$card-height: 120px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 12px;

.card {
	position: relative;
  display: inline-flex;
  flex-wrap: wrap;
	width: $card-width;
	height: $card-height;
	font: $font-size 'Trebuchet MS';

	margin: $gutter;
	border-radius: $card-padding;
	background: $card-background;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

	.num {
		content: attr(value);
		position: absolute;
		width: 6px;
		text-align: center;
		letter-spacing: -2px;
  }

  .num-end{
		content: attr(value);
		position: absolute;
		width: 6px;
		text-align: center;
    letter-spacing: -2px;
    right: 5px;
    bottom: 5px;
    transform: rotate(180deg);
	}

	&:before {
		top: $card-padding;
		left: $card-padding;
	}

	&:after {
		bottom: $card-padding;
		right: $card-padding;
		transform: rotate(180deg)
	}

	&--hearts, &--diamonds {
		color: $card-color-red;
	}

	&--spades, &--clubs {
		color: $card-color-black;
	}
}

.card__inner {
	box-sizing: border-box;
	position: absolute;
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	top: 6 * $card-padding;
	left: 6 * $card-padding;
	right: 6 * $card-padding;
	bottom: 6 * $card-padding;

	&--centered {
		justify-content: center;
	}
}

.card__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&--centered {
		justify-content: center;
	}
}

.card__symbol {
  display: flex;
  flex: 1 0 21%;
	height: $card-symbol-size;
	text-align: center;
  font-size: $card-symbol-size;
  line-height: $card-symbol-size;

}
