<form class="">
  <mat-form-field class="">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Jass Player" value="" #user />
  </mat-form-field>
</form>
<mat-card *ngFor="let openGame of openGames$ | async">
  {{ openGame.gameId }}

  <span *ngFor="let player of openGame.players"> {{ player.name }}</span>

  <button (click)="startGame(openGame.gameId, user.value)">Send Message to Backend</button>
</mat-card>

<button (click)="createGame()">Create Game</button>
<button (click)="initialLoad()">InitialLoad</button>
<button (click)="handOutCards()">Hand out cards</button>

<app-game></app-game>

<router-outlet></router-outlet>
