<form class="">
  <mat-form-field class="">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Jass Player" value="" #user />
  </mat-form-field>
</form>
<mat-card  [style.max-width]="'420px'" class="open-game" *ngFor="let openGame of openGames$ | async">
  <mat-card-header>
    {{ openGame.gameId }} ({{openGame.type}})
  </mat-card-header>
  <mat-card-content>
    <span *ngFor="let player of openGame.players"> {{ player.name }}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="startGame(openGame.gameId, user.value)">Join Game</button>
  </mat-card-actions>
</mat-card>

<button (click)="createGame()">Create Game</button>
<button (click)="initialLoad()">InitialLoad</button>
<button (click)="handOutCards()">Hand out cards</button>

<app-game></app-game>

<router-outlet></router-outlet>
