<app-table class="table">


</app-table>
<mat-card *ngFor="let p of (players$ | async)">{{p}}</mat-card>
<app-hand class="hand"></app-hand>
<span class="pts">Here may be pts</span>
<span class="chat">bla bla</span>
<span class="aa">
  <button mat-raised-button (click)="initialLoad()">InitialLoad</button>
  <button mat-raised-button (click)="handOutCards()">Hand out cards</button>
  <button mat-raised-button color="primary" (click)="reload()">Reload</button>
</span>
<span class="info">10:10</span>
