<mat-card class="open-game" *ngFor="let openGame of openGames$ | async">
  <mat-card-header>
    <mat-card-title>
      {{ openGame.gameId }}
    </mat-card-title>
    <mat-card-subtitle>
      {{openGame.type}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let player of openGame.players"> {{ player.name }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="startGame(openGame.gameId, user.value)">Join Game</button>
  </mat-card-actions>
</mat-card>

<form class="">
  <mat-form-field class="">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Jass Player" value="" #user/>
  </mat-form-field>
</form>

<button (click)="createGame()" mat-raised-button color="primary">Create Game</button>

