.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
}

.button--schieben {
  grid-column: 1 / span 2;
  grid-row: 3;

  button {
    width: 100%;
  }
}

.suit {
  font-size: 4em;
  transition: 2s;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 100%;

  &:hover {
    transform: rotateY(360deg);
    border: solid black 1px;
  }
}

.red {
  color: #e44145;
}
